<a href="https://colab.research.google.com/github/Yaaxek/Data-Visualization-Estilizando-tablas-con-python/blob/main/estilizacion_de_tablas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Visualization: Estilizando tablas con python**

## **Extracción y preparación de los datos**

In [365]:
import pandas as pd
print(pd.__version__)

2.2.2

In [366]:
ventas=pd.read_csv('https://gist.githubusercontent.com/ahcamachod/d2efadda3f3833d65da750c64705ac42/raw/80aef6f3bad210d34b67ed85565f039a30e2d9e0/ventas.csv',sep='#')
ventas.head()

,fecha_pedido,fecha_envio,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,precio_base,precio_unit_sin_descuento,descuento,precio_unit_venta,cantidad,ventas,ganancia
0,2018-11-09,2018-11-12,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,409.70,445.33,0.000,445.33,2,890.66,71.26
1,2018-11-09,2018-11-12,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Herramientas,705.10,829.53,0.000,829.53,3,2488.59,373.29
2,2018-06-13,2018-06-17,Económica,Matías González,B2B,Córdoba,Córdoba,Central,Jardinería y paisajismo,Semillas,19.02,24.86,0.000,24.86,2,49.72,11.68
3,2017-10-12,2017-10-19,Entrega estándar,Lucas González,B2C,Gualeguay,Entre Ríos,Litoral,Materiales de construcción,Materiales de revestimiento,781.38,840.19,0.225,651.15,5,3255.75,-651.15
4,2017-10-12,2017-10-19,Entrega estándar,Lucas González,B2C,Gualeguay,Entre Ríos,Litoral,Jardinería y paisajismo,Macetas,35.88,42.24,0.100,38.02,2,76.04,4.28

In [367]:
ventas=ventas[['fecha_pedido','modo_envio','nombre_cliente','segmento_cliente','ciudad','provincia','region','departamento','tipo_producto', 'ventas','cantidad','ganancia']]
ventas.head(2)

,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia
0,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,890.66,2,71.26
1,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Herramientas,2488.59,3,373.29

In [368]:
ventas.shape

(8940, 12)

In [369]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8940 entries, 0 to 8939
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha_pedido      8940 non-null   object
 1   modo_envio        8940 non-null   object
 2   nombre_cliente    8940 non-null   object
 3   segmento_cliente  8940 non-null   object
 4   ciudad            8940 non-null   object
 5   provincia         8940 non-null   object
 6   region            8940 non-null   object
 7   departamento      8940 non-null   object
 8   tipo_producto     8940 non-null   object
 9   ventas            8940 non-null   float64
 10  cantidad          8940 non-null   int64
 11  ganancia          8940 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 838.3+ KB

In [370]:
ventas['fecha_pedido']=pd.to_datetime(ventas['fecha_pedido'],format='%Y-%m-%d')
ventas.head(2)

,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia
0,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,890.66,2,71.26
1,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Herramientas,2488.59,3,373.29

In [371]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8940 entries, 0 to 8939
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha_pedido      8940 non-null   datetime64[ns]
 1   modo_envio        8940 non-null   object
 2   nombre_cliente    8940 non-null   object
 3   segmento_cliente  8940 non-null   object
 4   ciudad            8940 non-null   object
 5   provincia         8940 non-null   object
 6   region            8940 non-null   object
 7   departamento      8940 non-null   object
 8   tipo_producto     8940 non-null   object
 9   ventas            8940 non-null   float64
 10  cantidad          8940 non-null   int64
 11  ganancia          8940 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 838.3+ KB

## Misión 1: Equipo de Ventas

Necesitamos construir una visualización para indicar los **10 principales clientes por total de ventas**.

Con ello, el equipo de ventas puede pensar en estrategias para mantener a estos clientes comprando en nuestra tienda.

In [372]:
clientes=ventas.groupby(['nombre_cliente'])['ventas'].sum().nlargest(10).copy()
clientes=clientes.reset_index()
clientes

      nombre_cliente    ventas
0    Víctor Carrasco  73370.61
1        Brisa Rojas  68868.11
2       Mateo Vargas  62749.75
3      Vicente Rojas  59544.11
4        Laura Rojas  51398.87
5         Lucía Díaz  48178.99
6   Cristina Barrios  47610.80
7  Alejandro Sánchez  43769.25
8      Pamela Huerta  42354.19
9     Carlos Sánchez  41238.81

In [373]:
#Otra forma de renombrar las columnas
#dic={'nombre_cliente':'Clientes','ventas':'Ventas'}
#clientes=clientes.rename(columns=dic)

clientes.columns=['Clientes','Ventas']
clientes['Ranking']=clientes.index+1
clientes.set_index('Ranking',inplace=True)
clientes

                  Clientes    Ventas
Ranking
1          Víctor Carrasco  73370.61
2              Brisa Rojas  68868.11
3             Mateo Vargas  62749.75
4            Vicente Rojas  59544.11
5              Laura Rojas  51398.87
6               Lucía Díaz  48178.99
7         Cristina Barrios  47610.80
8        Alejandro Sánchez  43769.25
9            Pamela Huerta  42354.19
10          Carlos Sánchez  41238.81

Para aplicar estilos a un DataFrame, primero debemos convertirlo en un objeto Style

En resumen:

clientes: Muestra el DataFrame sin guardar la visualización.

estilo = clientes.style: Crea un objeto Style que almacena la configuración de estilo, permitiéndote aplicar cambios y visualizarlos cuando lo desees.

In [374]:
estilo=clientes.style
estilo

In [375]:
estilo.format({'Ventas':'{:,.2f}'})
estilo

## Misión 2: Equipo Comercial

Necesitamos construir una visualización que permita asociar el **total de ganancias en ventas y el total de lucros por tipo de producto**.

Ello permitirá que el equipo comercial pueda enfocarse en estrategias para apalancar los ingresos que se reciben con cada tipo de producto vendido en la tienda.

In [376]:
ganancias_ventas=ventas.groupby(['tipo_producto'])[['ventas','ganancia']].sum()
ganancias_ventas

                                 ventas  ganancia
tipo_producto
Brotes                          8811.32   1381.42
Decoración de jardín           82680.08   9939.43
Equipos de limpieza           542304.58   8724.39
Fertilizantes                  53144.74  11254.88
Fontanería                    373223.88  -5622.34
Herramientas                  995158.41  41020.34
Herramientas automotrices     502109.29  63330.22
Herramientas de jardinería    648879.72  53202.88
Iluminación                   275229.53  20264.54
Macetas                       696044.18  33941.85
Materiales de paisajismo      150552.49  -1912.37
Materiales de revestimiento   629656.36 -28869.01
Muebles de exterior           328932.27  26784.59
Neumáticos                   1022428.97  67460.05
Pesticidas                    244956.04  53343.89
Piezas de repuesto            486907.94  91148.67
Semillas                       39979.75   8865.09

In [377]:
ganancias_ventas.index.name='Tipo de producto'
ganancias_ventas

                                 ventas  ganancia
Tipo de producto
Brotes                          8811.32   1381.42
Decoración de jardín           82680.08   9939.43
Equipos de limpieza           542304.58   8724.39
Fertilizantes                  53144.74  11254.88
Fontanería                    373223.88  -5622.34
Herramientas                  995158.41  41020.34
Herramientas automotrices     502109.29  63330.22
Herramientas de jardinería    648879.72  53202.88
Iluminación                   275229.53  20264.54
Macetas                       696044.18  33941.85
Materiales de paisajismo      150552.49  -1912.37
Materiales de revestimiento   629656.36 -28869.01
Muebles de exterior           328932.27  26784.59
Neumáticos                   1022428.97  67460.05
Pesticidas                    244956.04  53343.89
Piezas de repuesto            486907.94  91148.67
Semillas                       39979.75   8865.09

In [378]:
estilo_producto=ganancias_ventas.style
estilo_producto

In [379]:
estilo_producto.format('USD {:,.2f}')
estilo_producto

In [380]:
estilo_producto=estilo_producto.format('USD {:,.2f}').highlight_max(color='lightgreen').highlight_min(color='pink')
estilo_producto

In [381]:
estilo_producto.background_gradient(cmap='Greens')

In [382]:
encabezado={
    'selector':'th',
    'props':'font-weight:bold; font-family:Arial; text-align:center; text-transform:capitalize'
}

In [383]:
estilo_producto.set_table_styles([encabezado],overwrite=False)

## Misión 3: Equipo de Logística

Necesitamos construir una visualización que nos permita entender la **distribución de pedidos por región de Brasil**.

Así, el equipo de logística va a saber dónde hay más oportunidad de enfocar los esfuerzos de material y mano de obra.

In [384]:
region=pd.DataFrame(ventas['region'].value_counts())
region.columns=['Nº Pedidos']
region.index.name='Región'
region

              Nº Pedidos
Región
Buenos Aires        2822
Litoral             1924
Norte               1555
Central             1276
Cuyo                 915
Patagónica           448

In [385]:
import numpy as np

In [386]:
porcentaje=region['Nº Pedidos'].to_numpy()
porcentaje =100*porcentaje/porcentaje.sum()
porcentaje

array([31.56599553, 21.5212528 , 17.39373602, 14.27293065, 10.23489933,
        5.01118568])

In [387]:
region['Porcentaje de Pedidos']=porcentaje
region

              Nº Pedidos  Porcentaje de Pedidos
Región
Buenos Aires        2822              31.565996
Litoral             1924              21.521253
Norte               1555              17.393736
Central             1276              14.272931
Cuyo                 915              10.234899
Patagónica           448               5.011186

###Estilos de CSS
[Documentacions de CSS]('https://www.w3schools.com/css/default.asp')

In [388]:
estilo_region=region.style
estilo_region

In [389]:
encabezado={
    'selector':'th',
    'props':'font-weight:bold; font-family:Arial; text-align:right;background-color:white'
}
celdas={
    'selector':'td',
    'props':'background-color:white'
}
estilo_region.set_table_styles([encabezado,celdas])

In [390]:
estilo_region.format({'Porcentaje de Pedidos':'{:.2f} %'})\
.bar(subset='Porcentaje de Pedidos',vmin=0,vmax=100,color='#9cd3bb')
estilo_region

## Misión 4: Equipo de Logística

Nuevamente el equipo de logística desea replantear su estructura y organización de provisionamiento de productos e, para ello, se pensó en una visualización que permita identificar el estándar de la **cantidad de productos solicitados por mes por departamento**.

In [391]:
meses=ventas.copy()
meses.sort_values('fecha_pedido', inplace=True)
meses

,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia
7171,2016-01-04,Entrega estándar,Ramiro Guzmán,B2C,Rosario,Santa Fe,Litoral,Jardinería y paisajismo,Pesticidas,55.92,2,9.44
651,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,12.04,2,-9.32
650,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Macetas,927.30,3,-110.13
649,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Semillas,40.08,3,7.26
1576,2016-01-06,Entrega estándar,Florencia Chávez,B2C,Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,Buenos Aires,Jardinería y paisajismo,Decoración de jardín,66.42,3,8.31
...,...,...,...,...,...,...,...,...,...,...,...,...
796,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,179.43,3,33.63
795,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Automotriz,Neumáticos,309.19,7,4.69
794,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,1098.68,4,20.60
1151,2019-12-31,Entrega estándar,Francisco Cárdenas,B2B,Quilmes,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,47.28,2,7.68
1152,2019-12-31,Entrega estándar,Francisco Cárdenas,B2B,Quilmes,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,70.44,2,11.00

In [392]:
meses['mes']=meses['fecha_pedido'].dt.strftime('%Y - %b')
meses=meses.reset_index(drop=False)
meses.head()

,index,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia,mes
0,7171,2016-01-04,Entrega estándar,Ramiro Guzmán,B2C,Rosario,Santa Fe,Litoral,Jardinería y paisajismo,Pesticidas,55.92,2,9.44,2016 - Jan
1,651,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,12.04,2,-9.32,2016 - Jan
2,650,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Macetas,927.30,3,-110.13,2016 - Jan
3,649,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Semillas,40.08,3,7.26,2016 - Jan
4,1576,2016-01-06,Entrega estándar,Florencia Chávez,B2C,Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,Buenos Aires,Jardinería y paisajismo,Decoración de jardín,66.42,3,8.31,2016 - Jan

In [393]:
pd.set_option('display.max_columns',None)

In [394]:
ventas_mensuales=meses.pivot_table(index=meses.departamento,columns='mes',values='cantidad',aggfunc='sum', sort=True)
ventas_mensuales.index.rename('Departamento',inplace=True)

ventas_mensuales

mes,2016 - Apr,2016 - Aug,2016 - Dec,2016 - Feb,2016 - Jan,2016 - Jul,2016 - Jun,2016 - Mar,2016 - May,2016 - Nov,2016 - Oct,2016 - Sep,2017 - Apr,2017 - Aug,2017 - Dec,2017 - Feb,2017 - Jan,2017 - Jul,2017 - Jun,2017 - Mar,2017 - May,2017 - Nov,2017 - Oct,2017 - Sep,2018 - Apr,2018 - Aug,2018 - Dec,2018 - Feb,2018 - Jan,2018 - Jul,2018 - Jun,2018 - Mar,2018 - May,2018 - Nov,2018 - Oct,2018 - Sep,2019 - Apr,2019 - Aug,2019 - Dec,2019 - Feb,2019 - Jan,2019 - Jul,2019 - Jun,2019 - Mar,2019 - May,2019 - Nov,2019 - Oct,2019 - Sep
Departamento,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Automotriz,107,95,154,20,45,91,83,46,81,236,85,154,111,117,235,44,55,88,59,74,94,179,100,180,72,123,189,49,59,117,118,112,124,253,103,181,87,136,252,63,109,168,170,167,150,331,205,280
Jardinería y paisajismo,323,339,525,87,161,348,273,277,270,716,276,549,271,322,628,131,97,268,321,278,269,746,260,663,338,380,770,177,190,413,473,260,463,727,402,757,415,561,989,205,361,423,490,458,542,946,617,929
Materiales de construcción,69,101,269,23,60,104,114,102,91,213,94,182,85,106,258,38,93,128,120,100,76,259,129,194,128,113,294,67,91,132,117,127,171,308,171,227,131,132,395,67,83,162,151,107,172,312,213,282

In [395]:
estilo_mensual=ventas_mensuales.style
estilo_mensual.set_sticky(axis='index')
estilo_mensual

In [396]:
columna_fija_header = {
    'selector': 'thead tr th:nth-child(1)',
    'props': 'position:sticky; left:0px; z-index:3; background-color:#F0F0F0'
}

columna_fija_body = {
    'selector': 'tbody tr th:nth-child(1)',
    'props': 'position:sticky; left:0px; z-index:1; background-color:#F0F0F0; text-transform:capitalize'
}

columnas={
    'selector':'.col_heading',
    'props':'font-weight:normal; font-family:Arial'
    }
tabla={
    'selector':'td,th',
    'props':'text_align:left'
}
indices={
    'selector':'index_name',
    'props':'font-weight:bold; font-family:Arial; text_align:right'
}
estilo_mensual.set_table_styles([columna_fija_header,columna_fija_body,columnas,tabla,indices], overwrite=False)

## Misión 5: Informe de Desempeño

El informe de desempeño es un documento muy importante para la empresa. En este, todos los que trabajan en la tienda pueden entender cómo está la empresa. Debido a ello, las tablas bien construídas son esenciales para mostrar los datos de la mejor forma.

Por lo tanto, necesitamos construir una visualización que permita entender la **relación entre tipos de clientes y modo de envío de productos de acuerdo con las ventas**. De esta forma, será posible destacar en el informe cuál es el modo de envío y cuáles son los que más generaron lucro en las ventas.

In [397]:
df_cliente=ventas.pivot_table(index='segmento_cliente',columns='modo_envio',values='ventas',aggfunc='sum')
df_cliente

modo_envio,Económica,Entrega en 24 horas,Entrega estándar,Envío rápido
segmento_cliente,,,,
B2B,718461.22,217465.60,1884738.56,602049.40
B2C,729174.73,182531.47,2248283.69,498294.88

In [398]:
df_cliente['Total']=df_cliente.sum(axis=1)
df_cliente.loc['Total']=df_cliente.sum()
df_cliente

modo_envio,Económica,Entrega en 24 horas,Entrega estándar,Envío rápido,Total
segmento_cliente,,,,,
B2B,718461.22,217465.60,1884738.56,602049.40,3422714.78
B2C,729174.73,182531.47,2248283.69,498294.88,3658284.77
Total,1447635.95,399997.07,4133022.25,1100344.28,7080999.55

In [399]:
compra_cliente=df_cliente.style
compra_cliente.format('{:,.2f}')
compra_cliente

In [400]:
tabla={
    'selector':'td,th:not(.index_name)',
    'props':'font-weight:normal; font-family:Arial;text-align:center;background-color:white'
}
indice={
    'selector':'.index_name',
    'props':'font-weight:normal; font-style:italic;text-align:right;color:#696969'
}
compra_cliente.set_table_styles([tabla,indice])

In [401]:
compra_cliente.set_table_styles({
    'Total': [
        {
            'selector': 'th',
            'props': 'border-top: 2px solid #181818'
        },
        {
            'selector': 'td',
            'props': 'border-top: 2px solid #181818'
        }
    ],
    'B2B': [
        {
            'selector': 'th',
            'props': 'border-top: 2px solid #181818'
        },
        {
            'selector': 'td',
            'props': 'border-top: 2px solid #181818'
        }
    ]
}, overwrite=False, axis=1)

In [402]:
compra_cliente.set_table_styles({
    'Total': [{'selector': '.true',
               'props': 'background-color: #D8D8D8;'}]
}, overwrite=False, axis=1)

colores_fila = pd.DataFrame([['false', 'false', 'true ', 'false', 'false']],
                            columns=df_cliente.columns, index=['Total'])

compra_cliente.set_td_classes(colores_fila)

#Exportando una visualizacion
Vamos a transformar el DataFrame que lista los géneros de películas mejor valorados en:

un archivo HTML;

un archivo Excel;

y un archivo LaTeX.

In [403]:
import pandas as pd

# DataFrame con películas bien valoradas
datos = {
    'Género': ['Drama', 'Comedia', 'Acción', 'Ciencia Ficción', 'Terror'],
    'Nota Media': [4.5, 4.3, 4.2, 4.1, 3.8],
    'Cantidad de Evaluaciones': [1500, 1200, 1000, 800, 600]
}

df_peliculas = pd.DataFrame(datos)

# Añade un ranking de popularidad basado en el número de evaluaciones
df_peliculas['Ranking'] = df_peliculas['Cantidad de Evaluaciones'].rank(method='dense', ascending=False).astype(int)

# Define la columna 'Ranking' como índice del DataFrame
df_peliculas.set_index('Ranking', inplace=True)

# Objeto style
s_pelicula = df_peliculas.style

# Crear un archivo HTML
s_pelicula.to_html('estilo_html.html', index=False)

# Crear un archivo Excel
s_pelicula.to_excel('estilo_xlsx.xlsx', engine='openpyxl')

# Crear un archivo LaTeX
with open('estilo_latex.tex', 'w') as f:
    f.write(s_pelicula.to_latex())

#Desafio

En el archivo, tenemos un informe de costos de venta de libros y películas de una tienda. Durante los desafíos, la misión será trabajar con los datos para crear tablas que se adapten a las necesidades de diversos análisis que pueden realizarse en la tienda. Para una mejor comprensión de los datos, a continuación se muestra lo que representa cada dato en las columnas.

In [404]:
import pandas as pd
tienda=pd.read_csv('https://gist.githubusercontent.com/ahcamachod/52da15c2bbb31e4270b5c267dd051473/raw/62c366878ebd4be2ec899836413c8d1f3e116c01/tienda_libros.csv',sep=',')
tienda.head()

,pais,id_cliente,fecha_pedido,fecha_llegada,tipo_compra,numero_pedido,tamano_paquete,unidades,costo_empacado,costo_envio,tipo_descuento,categoria,tipo_consumo,tipo_cliente,costo_producto
0,Argentina,111962928,2002-02-15,2002-03-10,Normal,98091426,Paquete pequeño,1,3.0,5.99,Sin descuento,BlueRay,Alto Consumo,B2C,8.99
1,Argentina,145148150,2004-11-05,2004-11-26,Normal,98087803,Paquete pequeño,3,1.0,6.99,Sin descuento,BlueRay,Alto Consumo,B2C,7.99
2,Argentina,194622983,2014-09-14,2014-09-28,Normal,98072296,Paquete pequeño,1,3.0,6.99,Sin descuento,BlueRay,Alto Consumo,B2C,9.99
3,Argentina,220834258,2011-07-20,2011-07-30,Devolución,98077986,Paquete pequeño,2,1.0,3.86,Cyber Monday,BlueRay,Alto Consumo,B2B,4.86
4,Argentina,220834258,2013-09-15,2017-02-15,Normal,98074234,Paquete pequeño,1,2.0,4.88,Black Friday,BlueRay,Alto Consumo,B2B,6.88

In [405]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24890 entries, 0 to 24889
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pais            24890 non-null  object
 1   id_cliente      24890 non-null  int64
 2   fecha_pedido    24890 non-null  object
 3   fecha_llegada   24890 non-null  object
 4   tipo_compra     24890 non-null  object
 5   numero_pedido   24890 non-null  int64
 6   tamano_paquete  24890 non-null  object
 7   unidades        24890 non-null  int64
 8   costo_empacado  24890 non-null  float64
 9   costo_envio     24890 non-null  float64
 10  tipo_descuento  24890 non-null  object
 11  categoria       24890 non-null  object
 12  tipo_consumo    24890 non-null  object
 13  tipo_cliente    24890 non-null  object
 14  costo_producto  24890 non-null  float64
dtypes: float64(3), int64(3), object(9)
memory usage: 2.8+ MB

In [406]:
tienda['fecha_pedido'] = pd.to_datetime(tienda['fecha_pedido'], format='%Y-%m-%d')
tienda['fecha_llegada'] = pd.to_datetime(tienda['fecha_llegada'], format='%Y-%m-%d')
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24890 entries, 0 to 24889
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pais            24890 non-null  object
 1   id_cliente      24890 non-null  int64
 2   fecha_pedido    24890 non-null  datetime64[ns]
 3   fecha_llegada   24890 non-null  datetime64[ns]
 4   tipo_compra     24890 non-null  object
 5   numero_pedido   24890 non-null  int64
 6   tamano_paquete  24890 non-null  object
 7   unidades        24890 non-null  int64
 8   costo_empacado  24890 non-null  float64
 9   costo_envio     24890 non-null  float64
 10  tipo_descuento  24890 non-null  object
 11  categoria       24890 non-null  object
 12  tipo_consumo    24890 non-null  object
 13  tipo_cliente    24890 non-null  object
 14  costo_producto  24890 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(7)
memory usage: 2.8+ MB

In [407]:
tienda.head(2)

,pais,id_cliente,fecha_pedido,fecha_llegada,tipo_compra,numero_pedido,tamano_paquete,unidades,costo_empacado,costo_envio,tipo_descuento,categoria,tipo_consumo,tipo_cliente,costo_producto
0,Argentina,111962928,2002-02-15,2002-03-10,Normal,98091426,Paquete pequeño,1,3.0,5.99,Sin descuento,BlueRay,Alto Consumo,B2C,8.99
1,Argentina,145148150,2004-11-05,2004-11-26,Normal,98087803,Paquete pequeño,3,1.0,6.99,Sin descuento,BlueRay,Alto Consumo,B2C,7.99

##El primer desafío es construir una visualización que permita identificar qué países han solicitado más productos por pedidos, para así poder realizar un estudio sobre la distribución y logística de productos.

In [408]:
paises=tienda.groupby(['pais'])['unidades'].sum().nlargest(10).copy()
paises=paises.reset_index()
paises.columns=['Pais','Unidades Pedidas']
paises['Ranking']=paises.index+1
paises.set_index('Ranking',inplace=True)
paises

              Pais  Unidades Pedidas
Ranking
1        Argentina              5591
2          Ecuador              5566
3         Paraguay              5564
4             Perú              5550
5        Venezuela              5529
6         Colombia              5504
7           Brasil              5473
8          Uruguay              5377
9            Chile              5304

In [409]:
s_paises=paises.style
s_paises

##El objetivo de este desafío es construir una visualización que permita identificar qué categorías de productos generaron más y menos costos para la tienda.

In [410]:
costo_producto=tienda.groupby(['categoria'])['costo_producto'].sum()
costo_producto.index.name='Categoria del Producto'
costo_producto.name='Costo del Pedido'
costo_producto

Categoria del Producto
BlueRay      14191.36
CD           10514.28
Colección    73128.59
Libro        78213.80
Name: Costo del Pedido, dtype: float64

In [411]:
s_costo_producto=costo_producto.to_frame().style
s_costo_producto.format('USD {:,.2f}').highlight_max(color='pink').highlight_min(color='lightgreen')

encabezado={
    'selector':'th',
    'props':'font-weight:bold; font-family:Arial; text-align:center'
}
s_costo_producto.set_table_styles([encabezado],overwrite=False)

s_costo_producto

##El desafío consiste en construir una visualización que permita informar la cantidad y distribución de pedidos por tipo de descuento. Esto permitirá que los departamentos de la empresa comprendan la demanda de productos en cada promoción.

In [412]:
tienda.head(2)

,pais,id_cliente,fecha_pedido,fecha_llegada,tipo_compra,numero_pedido,tamano_paquete,unidades,costo_empacado,costo_envio,tipo_descuento,categoria,tipo_consumo,tipo_cliente,costo_producto
0,Argentina,111962928,2002-02-15,2002-03-10,Normal,98091426,Paquete pequeño,1,3.0,5.99,Sin descuento,BlueRay,Alto Consumo,B2C,8.99
1,Argentina,145148150,2004-11-05,2004-11-26,Normal,98087803,Paquete pequeño,3,1.0,6.99,Sin descuento,BlueRay,Alto Consumo,B2C,7.99

In [413]:
demanda_promocion=pd.DataFrame(tienda['tipo_descuento'].value_counts())
demanda_promocion.columns=['Nº Pedidos']
demanda_promocion.index.name='Tipo de Descuento'

porcentaje=demanda_promocion['Nº Pedidos'].to_numpy()
porcentaje =100*porcentaje/porcentaje.sum()
demanda_promocion['Distribucion de Pedidos']=porcentaje

encabezado={
    'selector':'th',
    'props':'font-weight:bold; font-family:Arial; text-align:left;background-color:white'
}
celdas={
    'selector':'td',
    'props':'text-align: center; background-color:white'
}
estilo_demanda = demanda_promocion.style.set_table_styles([encabezado,celdas])
estilo_demanda.format({'Distribucion de Pedidos':'{:.2f} %'})\
.bar(subset='Distribucion de Pedidos',vmin=0,vmax=100,color='#9cd4bd',height=50,width=50)
estilo_demanda

##Nuestro desafío ahora es proporcionar una visualización que permita mostrar el tiempo medio de entrega de pedidos durante los meses de los años 2013 a 2015 por cada país. Esto permitirá analizar el rendimiento del departamento de transporte de la empresa durante esos años y trazar un plan de mejoras.

In [414]:
tienda.head(2)

,pais,id_cliente,fecha_pedido,fecha_llegada,tipo_compra,numero_pedido,tamano_paquete,unidades,costo_empacado,costo_envio,tipo_descuento,categoria,tipo_consumo,tipo_cliente,costo_producto
0,Argentina,111962928,2002-02-15,2002-03-10,Normal,98091426,Paquete pequeño,1,3.0,5.99,Sin descuento,BlueRay,Alto Consumo,B2C,8.99
1,Argentina,145148150,2004-11-05,2004-11-26,Normal,98087803,Paquete pequeño,3,1.0,6.99,Sin descuento,BlueRay,Alto Consumo,B2C,7.99

In [415]:
fecha = tienda.copy()

# Filtrar 2013-2015
rango = (fecha['fecha_pedido'] >= '2013-01-01') & (fecha['fecha_pedido'] <= '2015-12-31')
fecha = fecha[rango]

# Crear columnas
fecha['Mes'] = fecha['fecha_pedido'].dt.strftime('%Y - %b')
fecha['demora_entrega'] = (fecha['fecha_llegada'] - fecha['fecha_pedido']).dt.days

# Pivot table: tiempo medio por país y mes
entregas = fecha.pivot_table(
    index='pais',
    columns='Mes',
    values='demora_entrega',
    aggfunc='mean',
    sort=False
)

# Estilo
s_entregas = entregas.style.format('{:,.2f}')
s_entregas.set_sticky(axis="index")
s_entregas.set_table_styles([
    {
        'selector': 'thead tr th:nth-child(1)',
        'props': 'position:sticky; left:0px; z-index:3; background-color:#F0F0F0'
    },
    {
        'selector': 'tbody tr th:nth-child(1)',
        'props': 'position:sticky; left:0px; z-index:1; background-color:#F0F0F0'
    }
])
s_entregas

##Nuestro desafío implica una visualización que permita separar los gastos de envío de cada producto (costo total) por tipo de cliente, de modo que sea posible comprender el tipo de producto que generó más costos de envío para cada tipo de cliente. Además, también es interesante mostrar la distribución de estos costos por país enviado, lo que permite entender también los gastos por país.

In [416]:
tienda.head(2)

,pais,id_cliente,fecha_pedido,fecha_llegada,tipo_compra,numero_pedido,tamano_paquete,unidades,costo_empacado,costo_envio,tipo_descuento,categoria,tipo_consumo,tipo_cliente,costo_producto
0,Argentina,111962928,2002-02-15,2002-03-10,Normal,98091426,Paquete pequeño,1,3.0,5.99,Sin descuento,BlueRay,Alto Consumo,B2C,8.99
1,Argentina,145148150,2004-11-05,2004-11-26,Normal,98087803,Paquete pequeño,3,1.0,6.99,Sin descuento,BlueRay,Alto Consumo,B2C,7.99

In [417]:
tabla_cliente = tienda.pivot_table(
    index='categoria',
    columns=['tipo_cliente', 'pais'],
    values='costo_envio',
    aggfunc='sum',
    margins=True,
    margins_name='Total'
)

tabla_cliente = tabla_cliente.rename_axis('Categoría', axis=0)
tabla_cliente = tabla_cliente.rename_axis(['Tipo de Cliente', 'País'], axis=1)

n_paises = tienda['pais'].nunique()

def resaltar_celdas(df):
    estilos = pd.DataFrame('background-color: white', index=df.index, columns=df.columns)

    estilos.loc['Total', ('B2B', 'Perú')] = 'background-color: #D8D8D8'
    estilos.loc['Total', ('B2C', 'Paraguay')] = 'background-color: #D8D8D8'
    estilos.loc['Libro', ('Total', '')] = 'background-color: #D8D8D8'

    return estilos

estilo_cliente = tabla_cliente.style.format('{:,.2f}')

estilo_cliente.apply(lambda x: resaltar_celdas(tabla_cliente), axis=None)

estilo_cliente.set_table_styles([
    {
        'selector': f'td:nth-child({n_paises + 2}), th:nth-child({n_paises + 2})',
        'props': 'border-left: 2px solid black'
    },
    {
        'selector': 'td:last-child, th:last-child',
        'props': 'border-left: 2px solid black'
    },
    {
        'selector':'td,th:not(.index_name)',
        'props':'font-weight:normal; font-family:Arial;text-align:center'
    },
    {
        'selector':'.index_name',
        'props':'font-weight:normal; font-style:italic;text-align:right;color:#696969'
    },
    {
        'selector': 'tbody tr:last-child',
        'props': 'border-top: 2px solid black'
    }
], overwrite=False)

estilo_cliente

In [418]:
columna_fija_header = {
    'selector': 'thead tr th:nth-child(1)',
    'props': 'position:sticky; left:0px; z-index:3; background-color:white'
}

columna_fija_body = {
    'selector': 'tbody tr th:nth-child(1)',
    'props': 'position:sticky; left:0px; z-index:1; background-color:white; text-transform:capitalize'
}
estilo_cliente.set_table_styles([columna_fija_header, columna_fija_body], overwrite=False)